.cabecalho{
    padding: 10px;
    height: 100px;
    background-color: transparent;
    width: 1130px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.logo{
    display: flex;
    align-items: center;
    height: 190%;
    margin-left: 20px;
}

.logo img{
    height: 50%;
}

.navegacao{
    flex-grow: 1;
    font-size: 20px;
    
}

.navegacao ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: flex-end;
}

.navegacao ul li{
    margin-left: 20px;
    margin-right: 20px;
}

.navegacao ul li a{
    text-decoration: none;
    color: rgb(253, 7, 7);
    transition: 0.5s;
}

.navegacao ul li a:hover{
    color:rgb(165, 0, 0);
    font-size: 30px;
    font-weight: bold;
}
