html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    box-sizing: border-box;
}

.topo input{
    position: fixed;
    bottom: 30px;
    left: 30px;
    height: 50px;
    width: 50px;
    border-radius: 20%;
    background-color: rgba(251, 0, 0, 0.575);
    color: white;
    text-decoration: none;
}