html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    box-sizing: border-box;
}

.topo img{
    transform: rotate(-90deg);
    position: fixed;
    bottom: 30px;
    left: 30px;
    height: 50px;
    width: 50px;
    background-color: transparent;
    transition: 0.5s;
}

.topo img:hover{
    bottom: 25px;
    left: 25px;
    height: 55px;
    width: 55px;
}